.card {
  width: 320px;
  padding: 24px;
  border-radius: 16px;
  background: white;
  font-family: system-ui, sans-serif;
  border: 1px solid #ddd;
  box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}